// i am aware that these are bad

table {
  text-align: left;
  tr {
    th {
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 10px;
      padding-left: 10px;
    }
    td {
      padding-top: 1px;
      padding-bottom: 1px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
.bigDiv {
  background-color: #cccccc;
  border: 2px groove black;
  padding: 2px;
  font-family: helvetica;
  width: 520px;
}

.section {
  background-color: #cccccc;
  border: 2px groove black;
  padding: 2px;
  font-family: helvetica;
  margin: 0px;
  width: 470px;
  height: 400px;
  position: relative;
  display: inline-block;
  float: left;
}

.infoBox {
  border: 2px solid black;
  padding: 5px;
}

.subheading {
  font-size: 12px;
}

.regular {
  font-size: 12px;
  span {
    font-size: 10px;
  }
}

.timestamp {
  font-size: 10px;
}

.blockContainer{
  border: 3px solid black;
  height: 300px;
  overflow: auto;
  padding: 5px;

  .block {
    border: 2px solid black;
    float: top;
    margin-top: 4px;
    padding: 2px;
    font-size: 13px;
    cursor: pointer;
    span {
      font-size: 10px;
    }
  }
}

.displayOff {
  display: none;
  div {
    display: none;
  }
}

.modalBackground {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  div {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 600px;
    height: 400px;
    margin: auto;
    z-index: 2;
    background-color: white;
    div {
      overflow-y: scroll;
      overflow-x: hidden;
      width: initial;
      height: initial;
      margin: initial;
    }
    span {
      position: absolute;
      cursor: pointer;
      right: 5px;
      top: 5px;
    }
    display: block;
    position: relative;
    text-align: left;
    h3 {
      font-size: 18px;
      font-weight: bold;
      font-family: helvetica;
    }   
  }
}

.blockInfo {
  table {
    tbody {
      tr {
        th {
          font-size: 12px;
          font-weight: bolder;
        }
        td {
          font-size: 11px;
          font-weight: normal;
        }
      }
    }
  }
  
}